# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/

# Envs
.env
.venv/
venv/
ENV/
config_example.env

# Logs & data
logs/
*.log
*.csv
*.json
tests
update

# OS
.DS_Store
Thumbs.db

# Arquivos renomeados
*_old.*