# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/

# Envs
.env
.venv/
venv/
ENV/
config_example.env

# Logs & data
logs/
*.log
*.csv
*.json
tests
update
data/
bot.pid
csv.txt
*.backup*
backups/
backup/

# OS
.DS_Store
Thumbs.db

# Arquivos renomeados
*_old.*

# Market Vision
market_vision/indicators/__pycache__/
market_vision/docs/